.vscode/**
.vscode-test/**
src/**
node_modules/**
reports/**
BACKLOG.md
CONTRIBUTE.md
.gitignore
.yarnrc
.prettierignore
eslint.config.mjs
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.test.js
**/*.test.js.map
scripts/**
*.vsix
